{% extends "main.html" %}
{% block content %}

    <h2>Movie Genres</h2>
    <div class="genre_list">
    {% for genre in genres  %}
        <a href="{{ url_for('showMovies', genre_id=genre.id) }}"><strong>{{ genre.name }}</strong></a>
        <br>
        <div class="edit_delete">
            <a  href="{{ url_for('editGenre', genre_id=genre.id) }}">Edit</a>
            <a  href="{{ url_for('deleteGenre', genre_id=genre.id) }}">Delete</a>
        </div>
        <br>
        <br>

    {% endfor %}
    </div>
    <a class="cancel" href="{{ url_for('newGenre') }}">Create new Genre</a>
    
{% endblock content %}